<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../css/createroom.css">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined"></span>
        </div>
        <div class="header-right">
<!--          <span class="material-icons-outlined">notifications</span>-->
<!--          <span class="material-icons-outlined">email</span>-->
          <a th:href="@{/logout}" style="text-decoration: none">
            <span class="material-icons-outlined">account_circle</span>
          </a>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
              <a th:href="@{/user/trangchu}"  style="text-decoration: none">
                  <span class="material-icons-outlined">home</span> Hotel
              </a>
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a th:href="@{/user/book/list}">
              <span class="material-icons-outlined">fact_check</span> Booking
            </a>
          </li>
          <li class="sidebar-list-item">
            <a th:href="@{/user/product/list}">
              <span class="material-icons-outlined">inventory_2</span> Service
            </a>
          </li>
          <li class="sidebar-list-item">
            <a th:href="@{/user/room/list}">
              <span class="material-icons-outlined">room</span> Room
            </a>
          </li>

          <li class="sidebar-list-item">
              <a th:href="@{/user/bill/list}">
              <span class="material-icons-outlined">payment</span> Payment
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="charts">
          <div class="charts-card-none"></div>

          <div class="charts-card">
            <p class="chart-title">Chọn Dịch Vụ</p>
          <form th:action="@{/user/book/save}" th:object="${customer}" method="post">
            <input type="text" name="id" class="nin" th:value="*{id}" hidden="true"/>
            <table>
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên Dịch Vụ</th>
                  <th>Giá Dịch Vụ</th>
                  <th>Num</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="pro:${pList}">
                    <input type="number" name="id_p" class="nin" th:value="${pro.p.id}" hidden="true"/>
                    <th th:text="${pList.indexOf(pro)+1}"></th>
                    <td th:text="${pro.p.name}"></td>
                    <td th:text="${pro.p.price}"></td>
                    <td>
<!--                    <button style="background: #202c4f; color:#fff;" th:onclick="addMoreCart(-1)">-</button>-->
                        <input type="number" name="num" step="1" th:value="1" style="max-width: 90px;border: solid #e0dede 2px;
                        border-radius: 3px; text-align:center; background:#f2f2f2; height:30px;width: 70px; font-size:15px" th:onchange="fixCartNum()">
<!--                    <button style="background: #202c4f; color:#fff;" th:onclick="addMoreCart(1)">+</button>-->
                    </td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="buton" style="margin-top: 30px">Xác nhận</button>
            </form>
          </div>

          <div class="charts-card-none"></div>
        </div>
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <!-- Custom JS -->
    <script src="js/scripts.js"></script>
<!--    <script th:inline="javascript">-->
<!--      //<![CDATA[-->
<!--       var num = /*[[${num}]]*/;-->
<!--      function addMoreCart(delta) {-->
<!--        num = parseInt($('[name=num]').val())-->
<!--        num += delta-->
<!--        if(num < 1) num = 1;-->
<!--        $('[name=num]').val(num)-->
<!--      }-->

<!--      function fixCartNum() {-->
<!--        $('[name=num]').val(Math.abs($('[name=num]').val()))-->
<!--      }-->
<!--      //]]>-->
<!--    </script>-->

  </body>
</html>