<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/app.css}"/>
    <link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}"/>
    <title>Login</title>
</head>

<body>
<div id="wrapper">
    <form th:action="@{/login}" id="form-login" method="post">
        <h1 class="form-heading">Đăng nhập</h1>
        <div class="form-group">
            <i class="far fa-user"></i>
            <input type="text" class="form-input" name="username" placeholder="Tên đăng nhập"/>
        </div>
        <div class="form-group">
            <i class="fas fa-key"></i>
            <input type="password" class="form-input" name="password" placeholder="Mật khẩu"/>
            <div id="eye">
                <i class="far fa-eye"></i>
            </div>
        </div>
        <input type="submit" value="Đăng nhập" class="form-submit"/>
    </form>
</div>

</body>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
<script th:src="@{/js/app.js}"></script>
</html>